:javascript
  window.PINWHEELS = #{raw $pinwheels.to_json};
  window.SKILLS = #{raw $skills.to_json};

#main.container
  #pinwheels
/ #wrapper
/   #header
/     #loadspinner
/     #pinwheelname
/   #wrapright
/     #right
/       #infowrap
/   #left
/     #infovis
/   #instructions
/     %strong Pan:
/     Click and drag in empty space
/     %strong Zoom:
/     Mouse wheel or +/- keys
/     %strong Center:
/     Click on a pinwheel
/   #shortest_paths
